<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <h:outputStylesheet name="css/bootstrap/bootstrap.min.css"/>
    <h:outputStylesheet name="style.css" library="css"/>
</h:head>

<h:body>
    <h1>Рейсы</h1>


    <p:layout fullPage="true">
        <p:layoutUnit position="west" size="400" styleClass="navbar-default areaStyle">
            <h:form rendered="#{sessionBean.userId == null}">
                <h:commandButton value="Авторизироваться" class="btn btn-default" type="button"
                                 onclick="PF('loginDialog').show();"/>
                <h:commandButton value="Зарегистрироваться" class="btn btn-default"
                                 action="registration"/>
                <ui:insert name="loginDlg">
                    <ui:include src="include/dialog/login.xhtml"/>
                </ui:insert>
            </h:form>


            <h:form rendered="#{sessionBean.userId != null}">
                User ID :#{sessionBean.userId} <br/>
                User Login:#{sessionBean.userLogin} <br/>

                <p:commandButton value="quit" action="#{sessionBean.quit}"/>

            </h:form>
        </p:layoutUnit>

        <p:layoutUnit position="center" styleClass="navbar-default">
            <ui:insert name="menu">
                <ui:include src="include/content.xhtml"/>
            </ui:insert>
        </p:layoutUnit>

        <p:layoutUnit position="south" styleClass="areaStyle navbar-default">
            <ui:insert name="footer">
                <ui:include src="include/footer.xhtml"/>
            </ui:insert>
        </p:layoutUnit>
    </p:layout>

</h:body>
</html>