<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
<h:body>
    <ui:composition xmlns="http://www.w3.org/1999/xhtml"
                    xmlns:h="http://java.sun.com/jsf/html"
                    xmlns:f="http://xmlns.jcp.org/jsf/core"
                    xmlns:ui="http://java.sun.com/jsf/facelets">

        <p:tabView>
            <p:tab title="Список пользователей" rendered="#{sessionBean.userId !=null and sessionBean.userAccessRights == 1}">
                <h:form>
                    <p:dataTable var="user" value="#{usersBean.users}" style="margin-bottom:40px">
                        <p:column headerText="id" sortBy="#{user.userId}">
                            <h:outputText value="#{user.userId}"/>
                        </p:column>

                        <p:column headerText="Логин" sortBy="#{user.login}">
                            <h:outputText value="#{user.login}"/>
                        </p:column>

                        <p:column headerText="Имя" sortBy="#{user.nameUser}">
                            <h:outputText value="#{user.nameUser}"/>
                        </p:column>

                        <p:column headerText="Фамилия" sortBy="#{user.surnameUser}">
                            <h:outputText value="#{user.surnameUser}"/>
                        </p:column>

                        <p:column headerText="Отчество" sortBy="#{user.patronymicUser}">
                            <h:outputText value="#{user.patronymicUser}"/>
                        </p:column>

                        <p:column headerText="Пол" sortBy="#{user.userPol}">
                            <h:outputText value="#{user.userPol}"/>
                        </p:column>

                        <p:column headerText="Дата рождения" sortBy="#{user.userDate}">
                            <h:outputText value="#{user.userDate}"/>
                        </p:column>

                        <p:column headerText="Национальность" sortBy="#{user.userNationality}">
                            <h:outputText value="#{user.userNationality}"/>
                        </p:column>

                        <p:column headerText="Паспортный номер" sortBy="#{user.userPasportNumber}">
                            <h:outputText value="#{user.userPasportNumber}"/>
                        </p:column>

                        <p:column headerText="Удалить">
                            <p:commandButton value="Delete" actionListener="#{usersBean.deleteUser(user.userId)}">
                            </p:commandButton>
                        </p:column>

                    </p:dataTable>
                </h:form>
            </p:tab>

            <p:tab title="Список рейсов" rendered="#{sessionBean.userId !=null and sessionBean.userAccessRights == 1}">
                <h:form>
                    <p:dataTable var="route" value="#{anAirRouteBean.anAirRoutes}" style="margin-bottom:40px">
                        <p:column headerText="id" sortBy="#{route.anAirRouteId}">
                            <h:outputText value="#{route.anAirRouteId}"/>
                        </p:column>

                        <p:column headerText="Откуда" sortBy="#{route.nameDeparture}">
                            <h:outputText value="#{route.nameDeparture}"/>
                        </p:column>

                        <p:column headerText="Куда" sortBy="#{route.nameDestination}">
                            <h:outputText value="#{route.nameDestination}"/>
                        </p:column>

                        <p:column headerText="Дата вылета" sortBy="#{route.departureDate}">
                            <h:outputText value="#{route.departureDate}"/>
                        </p:column>

                        <p:column headerText="Время вылета" sortBy="#{route.departureTime}">
                            <h:outputText value="#{route.departureTime}"/>
                        </p:column>

                        <p:column headerText="Время прибытия" sortBy="#{route.durationFlight}">
                            <h:outputText value="#{route.durationFlight}"/>
                        </p:column>


                        <p:column headerText="Цена эконом класса" sortBy="#{route.ticketPriceEconomy}">
                            <h:outputText value="#{route.ticketPriceEconomy}"/>
                        </p:column>

                        <p:column headerText="Цена бизнесс класса" sortBy="#{route.ticketPriceBusiness}">
                            <h:outputText value="#{route.ticketPriceBusiness}"/>
                        </p:column>

                        <p:column headerText="Аэропорт вылета" sortBy="#{route.aeroCodeAndNameStart}">
                            <h:outputText value="#{route.aeroCodeAndNameStart}"/>
                        </p:column>

                        <p:column headerText="Аэропорт прилета" sortBy="#{route.aeroCodeAndNameEnd}">
                            <h:outputText value="#{route.aeroCodeAndNameEnd}"/>
                        </p:column>
                        <p:column headerText="Delete from">
                            <p:commandButton value="Delete" actionListener="#{anAirRouteBean.deleteAnAirRoute(route.anAirRouteId)}">
                            </p:commandButton>
                        </p:column>

                    </p:dataTable>
                </h:form>
            </p:tab>

            <p:tab title="Список самолётов" rendered="#{sessionBean.userId !=null and sessionBean.userAccessRights == 1}">
                <h:form>
                    <p:dataTable var="plane" value="#{airplaneBean.airplanes}" style="margin-bottom:40px">
                        <p:column headerText="id" sortBy="#{plane.airplaneId}">
                            <h:outputText value="#{plane.airplaneId}"/>
                        </p:column>

                        <p:column headerText="Название самолёта" sortBy="#{plane.nameAirplane}">
                            <h:outputText value="#{plane.nameAirplane}"/>
                        </p:column>
                        <p:column headerText="Мест бизнесс класса" sortBy="#{plane.businessClass}">
                            <h:outputText value="#{plane.businessClass}"/>
                        </p:column>

                        <p:column headerText="Мест эконом класса" sortBy="#{plane.economyClass}">
                            <h:outputText value="#{plane.economyClass}"/>
                        </p:column>

                        <p:column headerText="Удалить">
                            <p:commandButton value="Delete" actionListener="#{airplaneBean.deleteAirplane(plane.airplaneId)}">
                            </p:commandButton>
                        </p:column>
                    </p:dataTable>
                </h:form>
            </p:tab>

/////////////////////////////////////////////////////////////////////////////////////////
            <p:tab title="Ваши билеты" rendered="#{sessionBean.userId !=null and sessionBean.userAccessRights == 2}">
                <h:form>
                    <p:dataTable var="ticket" value="#{ticketBean.tickets}" style="margin-bottom:40px">
                        <p:column headerText="id" sortBy="#{ticket.ticketId}">
                            <h:outputText value="#{ticket.ticketId}"/>
                        </p:column>

                        <p:column headerText="Имя" sortBy="#{plane.nameAirplane}">
                            <h:outputText value="#{plane.nameAirplane}"/>
                        </p:column>

                        <p:column headerText="Фамилия" sortBy="#{plane.nameAirplane}">
                            <h:outputText value="#{plane.nameAirplane}"/>
                        </p:column>

                        <p:column headerText="Отчество" sortBy="#{plane.nameAirplane}">
                            <h:outputText value="#{plane.nameAirplane}"/>
                        </p:column>

                        <p:column headerText="Пол" sortBy="#{plane.nameAirplane}">
                            <h:outputText value="#{plane.nameAirplane}"/>
                        </p:column>

                        <p:column headerText="Дата рождения" sortBy="#{plane.nameAirplane}">
                            <h:outputText value="#{plane.nameAirplane}"/>
                        </p:column>

                        <p:column headerText="Национальность" sortBy="#{plane.nameAirplane}">
                            <h:outputText value="#{plane.nameAirplane}"/>
                        </p:column>

                        <p:column headerText="Паспортный номер" sortBy="#{plane.nameAirplane}">
                            <h:outputText value="#{plane.nameAirplane}"/>
                        </p:column>

                        <p:column headerText="Откуда" sortBy="#{plane.nameAirplane}">
                            <h:outputText value="#{plane.nameAirplane}"/>
                        </p:column>

                        <p:column headerText="Куда" sortBy="#{plane.nameAirplane}">
                            <h:outputText value="#{plane.nameAirplane}"/>
                        </p:column>

                        <p:column headerText="Дата вылета" sortBy="#{plane.nameAirplane}">
                            <h:outputText value="#{plane.nameAirplane}"/>
                        </p:column>

                        <p:column headerText="Время вылета" sortBy="#{plane.nameAirplane}">
                            <h:outputText value="#{plane.nameAirplane}"/>
                        </p:column>

                        <p:column headerText="Время прибытия" sortBy="#{plane.nameAirplane}">
                            <h:outputText value="#{plane.nameAirplane}"/>
                        </p:column>

                        <p:column headerText="Эконом" sortBy="#{plane.nameAirplane}">
                            <h:outputText value="#{plane.nameAirplane}"/>
                        </p:column>

                        <p:column headerText="Бизнесс" sortBy="#{plane.nameAirplane}">
                            <h:outputText value="#{plane.nameAirplane}"/>
                        </p:column>

                        <p:column headerText="Общая сумма эконом" sortBy="#{plane.nameAirplane}">
                            <h:outputText value="#{plane.nameAirplane}"/>
                        </p:column>

                        <p:column headerText="Общая сумма бизнесс" sortBy="#{plane.nameAirplane}">
                            <h:outputText value="#{plane.nameAirplane}"/>
                        </p:column>

                    </p:dataTable>
                </h:form>
            </p:tab>
/////////////////////////////////////////////////////////////////////

            <p:tab title="Добавление рейса" rendered="#{sessionBean.userId !=null and sessionBean.userAccessRights == 1}">

                <h2>Добавление рейса</h2>
                <h:form>
                    <p:messages id="messageAddRoute"/>
                    <h:panelGrid columns="2">
                        Откуда
                        <h:inputText id="nameDeparture" value="#{anAirRouteBean.nameDeparture}"
                                     size="20" required="true"
                                     requiredMessage="Обязательно поле"
                                     label="NameDeparture">
                        </h:inputText>

                        Куда
                        <h:inputText id="nameDestination" value="#{anAirRouteBean.nameDestination}"
                                     size="20" required="true"
                                     requiredMessage="Обязательно поле"

                                     label="NameDestination">
                        </h:inputText>

                        Аэропорт отправки
                        <h:inputText id="aeroCodeAndNameStart" value="#{anAirRouteBean.aeroCodeAndNameStart}"
                                     size="20" required="true"
                                     requiredMessage="Обязательно поле"
                                     label="AeroCodeAndNameStart">
                        </h:inputText>

                        Аэоропорт назначения
                        <h:inputText id="aeroCodeAndNameEnd" value="#{anAirRouteBean.aeroCodeAndNameEnd}"
                                     size="20" required="true"
                                     requiredMessage="Обязательно поле"
                                     label="AeroCodeAndNameEnd">
                        </h:inputText>

                        Дата вылета
                        <p:calendar id="mask" value="#{anAirRouteBean.departureDate}" pattern="dd-MM-yyyy" mask="true"/>
                        Время вылета :
                        <h:inputText id="departureTime" value="#{anAirRouteBean.departureTime}"
                                     size="20" required="true"
                                     requiredMessage="Обязательно поле"
                                     label="DepartureTime">
                        </h:inputText>

                        Время прибытия
                        <h:inputText id="durationFlight" value="#{anAirRouteBean.durationFlight}"
                                     size="20" required="true"
                                     requiredMessage="Обязательно поле"
                                     label="DurationFlight">
                        </h:inputText>

                        Цена эконом класса
                        <h:inputText id="ticketPriceEconomy" value="#{anAirRouteBean.ticketPriceEconomy}"
                                     size="20" required="true"
                                     requiredMessage="Обязательно поле"
                                     label="TicketPriceEconomy">
                        </h:inputText>

                        Цена бизнес класса
                        <h:inputText id="ticketPriceBusiness" value="#{anAirRouteBean.ticketPriceBusiness}"
                                     size="20" required="true"
                                     requiredMessage="Обязательно поле"
                                     label="TicketPriceBusiness">
                        </h:inputText>

                    </h:panelGrid>

                    <p:commandButton value="Добавить рейс" action="#{anAirRouteBean.addAnAirRoute}"
                                     update="messageAddRoute"/>
                </h:form>
            </p:tab>

            <p:tab title="Добавление самолётов" rendered="#{sessionBean.userId !=null and sessionBean.userAccessRights == 1}">

                <h2>Добавление самолётов</h2>
                <h:form>
                    <p:messages id="messageAddPlane"/>
                    <h:panelGrid columns="2">
                        Название
                        <h:inputText id="nameAirplane" value="#{airplaneBean.nameAirplane}"
                                     size="20" required="true"
                                     requiredMessage="Обязательно поле"
                                     label="NameAirplane">
                        </h:inputText>

                        Билетов бизнес класса
                        <h:inputText id="businessClass" value="#{airplaneBean.businessClass}"
                                     size="20" required="true"
                                     requiredMessage="Обязательно поле"
                                     label="BusinessClass">
                        </h:inputText>

                        Билетов эконом класса
                        <h:inputText id="economyClass" value="#{airplaneBean.economyClass}"
                                     size="20" required="true"
                                     requiredMessage="Обязательно поле"
                                     label="EconomyClass">
                        </h:inputText>
                    </h:panelGrid>

                    <p:commandButton value="Добавить самолёт" action="#{airplaneBean.addAirplane}"
                                     update="messageAddPlane"/>
                </h:form>
            </p:tab>

            /////////////////////////////////////////////////////////////////////
            <p:tab title="Забронировать" rendered="#{sessionBean.userId !=null and sessionBean.userAccessRights == 2}">
                <h2>Бронирование билета</h2>
                <h:form>
                    <p:messages id="messageAddTicket"/>
                    <h:panelGrid columns="2">
                        Откуда
                        <h:inputText id="nameDepartureTicket" value="#{ticketBean.nameDepartureTicket}"
                                     size="20" required="true"
                                     requiredMessage="Обязательно поле"
                                     label="NameDepartureTicket">
                        </h:inputText>

                        Куда
                        <h:inputText id="nameDestinationTicket" value="#{ticketBean.nameDestinationTicket}"
                                     size="20" required="true"
                                     requiredMessage="Обязательно поле"
                                     label="NameDestinationTicket">
                        </h:inputText>

                        Кол-во мест эконом класса
                        <h:inputText id="numberSeatsEconomTicket" value="#{ticketBean.numberSeatsEconomTicket}"
                                     size="20" required="true"
                                     requiredMessage="Обязательно поле"
                                     label="NumberSeatsEconomTicket">
                        </h:inputText>

                        Кол-во мест бизнесс класса
                        <h:inputText id="numberSeatsBusinessTicket" value="#{ticketBean.numberSeatsBusinessTicket}"
                                     size="20" required="true"
                                     requiredMessage="Обязательно поле"
                                     label="NumberSeatsBusinessTicket">
                        </h:inputText>
                    </h:panelGrid>

                    <p:commandButton value="Забронировать" action="#{ticketBean.addTicket}"
                                     update="messageAddTicket"/>
                </h:form>
            </p:tab>
/////////////////////////////////////////////////////////////////////
        </p:tabView>
    </ui:composition>
</h:body>
</html>