<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
<h:body>
    <ui:composition xmlns="http://www.w3.org/1999/xhtml"
                    xmlns:h="http://java.sun.com/jsf/html"
                    xmlns:ui="http://java.sun.com/jsf/facelets">

        <h:form id="loginUser">
            <p:growl id="growl" sticky="true" showDetail="true" life="500"/>
            <p:dialog header="Авторизация" widgetVar="loginDialog" resizable="false" modal="true"
                      style="text-align: center">

                <h:panelGrid columns="2" cellpadding="5">
                    <h:outputLabel for="login" value="Логин: "/>
                    <p:inputText id="login" value="#{loginBean.login}" required="true" label="login"/>

                    <h:outputLabel for="pass" value="Пароль: "/>
                    <p:password id="pass" value="#{loginBean.pass}" required="true" label="pass"/>

                </h:panelGrid>

                <p:separator style="margin-top: 0"/>

                <p:commandButton value="Войти" update="growl"
                                 actionListener="#{loginBean.doLogin}"
                                 oncomplete="handleLoginRequest(xhr, status, args)"/>

            </p:dialog>
        </h:form>

        <script type="text/javascript">
            function handleLoginRequest(xhr, status, args) {
                if (args.validationFailed || !args.loggedIn) {
                    PF('loginDialog').jq.effect("shake", {times: 5}, 100);
                }
                else {
                    location.reload(true);
                    PF('loginDialog').hide();
                    $('#loginLink').fadeOut();
                }
            }
        </script>
    </ui:composition>
</h:body>
</html>