<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <h:outputStylesheet name="css/bootstrap/bootstrap.min.css"/>
    <h:outputStylesheet name="style.css" library="css"/>
</h:head>
<h:body>
    <h:form>
        <p:messages id="messageDataUser"/>
        <h:panelGrid columns="2" cellpadding="5" id="regForm">
            <h:outputLabel for="login" value="Логин :"/>
            <p:inputText id="login" value="#{regBean.userLogin}" required="true" label="login"
                         validator="#{regBean.checkLogin}"
                         validatorMessage="Данный логин занят!"
                         requiredMessage="'Логин' - обязательно поле">
                <p:ajax event="blur" update="messageDataUser"/>
            </p:inputText>

            <h:outputLabel for="pass" value="Пароль :"/>
            <p:password id="pass" value="#{regBean.userPass}" required="true" label="pass"
                        feedback="true"
                        inline="true"
                        promptLabel="Сложность 1"
                        weakLabel="Сложность 2"
                        goodLabel="Сложность 3"
                        strongLabel="Сложность 4"
                        requiredMessage="'Пароль' - обзяательно поле"
                        validatorMessage="Пароль имеет неверный формат">
            </p:password>

            <h:outputLabel value="Имя :"/>
            <p:inputText id="nameUser" value="#{regBean.nameUser}" required="true" label="nameUser"
                         requiredMessage="'Имя' - обязательно поле">
            </p:inputText>


            <h:outputLabel value="Фамилия :"/>
            <p:inputText id="surnameUser" value="#{regBean.surnameUser}" required="true" label="surnameUser"
                         requiredMessage="'Фамилия' - обязательно поле">
            </p:inputText>

            <h:outputLabel value="Отчество :"/>
            <p:inputText id="patronymicUser" value="#{regBean.patronymicUser}" required="true" label="patronymicUser"
                         requiredMessage="'Отчество' - обязательно поле">
            </p:inputText>

            <h:outputLabel value="Пол :"/>
            <p:selectOneButton value="#{regBean.userPol}">
                <f:selectItem itemLabel="Мужчина" itemValue="Мужчина"/>
                <f:selectItem itemLabel="Женщина" itemValue="Женщина"/>
            </p:selectOneButton>

            <h:outputLabel value="Дата рождения :"/>
            <p:calendar id="mask" value="#{regBean.userDate}" pattern="dd-MM-yyyy" mask="true"/>

            <h:outputLabel value="Национальность :"/>
            <p:inputText id="userNationality" value="#{regBean.userNationality}" required="true" label="userNationality"
                         requiredMessage="'Национальность' - обязательно поле">
            </p:inputText>

            <h:outputLabel value="Паспортный номер :"/>
            <p:inputText id="userPasportNumber" value="#{regBean.userPasportNumber}" required="true"
                         label="userPasportNumber"
                         requiredMessage="'Паспортный номер' - обязательно поле">
            </p:inputText>

            <h:outputLabel value="Права доступа :"/>
            <p:inputText id="accessRights" value="#{regBean.accessRights}" required="true"
                         label="accessRights"
                         requiredMessage="'Права доступа' - обязательно поле">
            </p:inputText>
        </h:panelGrid>
        <p:separator style="margin-top: 0"/>
        <p:commandButton value="Зарегистрироваться" update="messageDataUser"
                         action="#{regBean.reg}"/>
    </h:form>
</h:body>
</html>